.md-typeset .admonition,
.md-typeset details {
  font-size: 16px
}

input[type="text"].bin {
  max-width: 20px;
}

.md-header__button.md-logo img {
  height: 50px; /* ajuste la hauteur ici */
  width: auto;  /* garde les proportions */
}
