@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');

.md-typeset .admonition,
.md-typeset details {
  font-size: 16px
}

input[type="text"].bin {
  max-width: 20px;
}

.md-header__button.md-logo img {
  height: 50px; /* ajuste la hauteur ici */
  width: auto;  /* garde les proportions */
}


code, pre, .highlight code {
  font-family: 'JetBrains Mono', monospace !important;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'liga' 1, 'calt' 1;
  font-size: 0.95em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Code inline */
p code, li code, td code {
  font-family: 'JetBrains Mono', monospace !important;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'liga' 1, 'calt' 1;
}


